body {
  box-sizing: border-box;
  background-color: #EDECED;
  /*font-family: 'Roboto', sans-serif;*/
  font-family: 'Montserrat', sans-serif;
  /*font-family: 'Roboto Mono', monospace;*/
}

.wrapper {
  display: flex;
  justify-content: space-between;
  height: 90px;
}

.user-info {
  display: flex;
  justify-content: flex-end;
  margin-right: 2%;
  align-items: center;
}

header {
  background-color: #262626;
  height: 10%;
  max-width: 1200px;
  margin: 0 auto;
  color: #fff;
  font-weight: 300;
 
}

h1 {
  font-size: 2em;
  margin-left: .5%;
  display: inline-block;
}

.reminder {
  display: inline-block;
  vertical-align: unset;
}

.blue-user {
  height: 24px;
}

.reminder {
  height: 30px;
}

.left-side{
  display: flex;
  align-items: flex-end;
  padding-bottom: 2%;
  margin: 0 0 0 1%;
}

.right-bottom {
  float: right;
  margin-top: 25px;
}

.right-bottom h1 {
  display: inline;
}

.share {
  height: 20px;
}

.share-div {
  vertical-align: middle;
  margin-right: 8px;
}

img {
  display: inline-block;
  vertical-align: middle;
}
h2 {
  font-size: 1em;
  margin: 0;
  display: inline-block;
  vertical-align: middle;
}

.playlist {
  height: 20px;
}

.playlist-div {
  margin-right: 10px;
}

.user {
  height: 20px;
}
/*.bottom-of-header-right {
  display: flex;
  justify-content: flex-end;
}*/
.outside-container {
  display: flex;
  flex-direction: column;
  max-width: 1200px;
  margin: auto;
}

.container {
  display: grid;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-template-rows: 1fr 1fr;
  grid-gap: 5px;
  grid-auto-flow: dense;
}

.box {
  font-family: 'Poppins', sans-serif;
  width: 100%;
  margin: 5px;
  color: black;
  background-color: #fff;
  border: 1px solid black;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.5);
}

.image-area1 {
  background: url('images/feet1.jpg');
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 150px;
}

.image-area2 {
  background: url('images/feet2.jpg');
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 150px;
}

.image-area3 {
  background: url('images/feet3.jpg');
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 150px;
}

.image-area4 {
  background: url('images/feet4.jpg');
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 150px;
}

.image-area5 {
  background: url('images/feet5.jpg');
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 150px;
}

.image-area6 {
  background: url('images/feet6.jpg');
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 150px;
}

.image-area7 {
  background: url('images/feet7.jpg');
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 150px;
}

.image-area8 {
  background: url('images/feet8.jpg');
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 150px;
}

.image-area:hover {
  opacity: .9;
}

.circle-up {
  float: left;
  width: 45px;
  height: 45px;
  padding: 2% 0 0 2%;
}

.circle-up:hover {
  opacity: .9;
}

.view-box {
  display: flex;
  justify-content: space-between; 
}

.keep-right {
  align-self: flex-end;
  text-align: right;
  padding: 2% 2% 0 0;
}

.keep-right p {
  color: black;
}

.views {
  justify-content: space-between;
  margin: 0;
  color: white;
}

.view-number {
  justify-content: space-between;
  font-size: 1.8em;
  margin-top: 0;
  color: white;
}

.card-data {
  text-align: left;
  margin-left: 2%;
  background-color: #fff;
}

.name {
  color: black;
  font-size: 1.2em;
  margin-bottom: 0;
  font-weight: 800;
}

.date {
  margin-top: 0;
  font-size: .7em;
  font-weight: 300;
}

.textbox {
  background-color: lightgrey;
  width: 90%;
  resize: none;
  border: none;
}

.playlist {
  font-size: .8em;
  margin-bottom: 0;
}

.playlist-name {
  font-size: 1em;
  margin-top: 0;
}

.attachments {
  font-size: 1em;
  margin: 0;
}

.number {
  font-size: 2em;
  color: lightblue;
  margin: 0;
}

@media screen and (max-width: 550px) {
  .left-side img {
  display: block;
  margin: 0px auto;
  }
}

@media screen and (max-width: 480px) {
  h2 {
    display: none;
  }

  .share,
  .playlist,
  .user {
    width: 30px;
    height: 30px;
  }

  .blue-user {
    width: 30px;
    height: 30px;
  }
  .box {
    margin: 0;
  }

  .right-bottom  {
    margin-top: 15px;
  }

  /*.user-info {
    margin: 2% 2% 0 0;
  }*/
}
